<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Data nasc:</strong>
    <%= aluno.data_nasc.present? ? aluno.data_nasc.strftime("%d/%m/%Y") : "Data não informada" %>
  </p>


  <p>
    <strong>Email:</strong>
    <%= aluno.email %>
  </p>

</div>
