<% content_for :title, "Editando emprestimo" %>

<h1>Editando emprestimo</h1>

<%= render "form", emprestimo: @emprestimo %>

<br>

<div>
  <%= link_to "Mostrar esse emprestimo", @emprestimo %> |
  <%= link_to "Voltar aos emprestimos", emprestimos_path %>
</div>
