<div class="text-center">
  <h1 class="display-4">Bem-vindo ao Sistema de Biblioteca!</h1>
  <p class="lead">Gerencie seus livros, empréstimos e alunos facilmente.</p>
  <a class="btn btn-primary btn-lg" href="/livros" role="button">Ver Livros</a>
  <a class="btn btn-secondary btn-lg" href="/alunos" role="button">Ver Alunos</a>
  <a class="btn btn-third btn-lg" href="/emprestimos" role="button">Ver Empréstimos</a>


<p>
  <%= link_to "Exportar Alunos para CSV", export_csv_path, class: "btn btn-primary" %>
</p>


<p>
  <%= link_to "Exportar Livros para CSV", export_csv_livros_path, class: "btn btn-success" %>
</p>
</div>
