<% content_for :title, "Editando livro" %>

<h1>Editando livro</h1>

<%= render "form", livro: @livro %>

<br>

<div>
  <%= link_to "Mostrar esse livro", @livro %> |
  <%= link_to "Voltar aos livros", livros_path %>
</div>
